* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    // transition: all .25s linear !important;
}

#body>section {
    padding-top: 68px !important;
    overflow-x: hidden;
}

.form-control.is-valid,
.was-validated .form-control:valid,

.form-control.is-invalid,
.was-validated .form-control:invalid {
    border-color: white;
}



::selection {
    color: white;
    background: $green;
    padding: 10px;
}